.game {
    height: 600px;
    width: 1000px;
    background: url(../../../images/background.png);
    position: relative;
}

.attribute {
    height: 550px;
    width: 175px;
    padding-top: 50px;
    padding-left: 25px;
    position: absolute;
}

.main {
    height: 600px;
    width: 600px;
    position: absolute;
    z-index: 1;
    margin-left: 200px;
    font-size: 0px; /* 消除块级元素之间的间隙*/
    background: url(../../../images/main/resource_1.png);
}

.possess {
    height: 555px;
    width: 200px;
    position: absolute;
    padding-top: 45px;
    margin-left: 800px;
}

.floor {
    height: 40px;
    width: 150px;
    text-align: center;
    background: url(../../../images/attribute/gray.png);
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
}

.col {
    height: 40px;
    width: 150px;
    padding-top: 10px;
    float: left;
}

.blood_img {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.value {
    height: 25px;
    width: 80px;
    text-align: right;
    background: url(../../../images/attribute/gray.png);
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    padding-left: 30px;
}

.tools {
    height: 230px;
    width: 150px;
    background: url(../../../images/attribute/gray.png);
    margin-top: 230px;
}

.weapon {
    height: 55px;
    width: 150px;
    margin-left: 23px;
    margin-top: 15px;
    background: url(../../../images/attribute/gray.png);
}

.weapon_name {
    height: 20px;
    width: 90px;
    text-align: center;
    background: url(../../../images/attribute/gray.png);
    font-size: 20px;
    font-weight: 600;
    color: #803472;
    display: inline-block;
}

.weapon_img {
    height: 50px;
    width: 50px;
    background: url(../../../images/attribute/gray.png);
    display: inline-block;
}

.armor_name {
    height: 20px;
    width: 90px;
    text-align: center;
    background: url(../../../images/attribute/gray.png);
    font-size: 20px;
    font-weight: 600;
    color: #01fa70;
    display: inline-block;
}

.armor_img {
    height: 50px;
    width: 50px;
    background: url(../../../images/attribute/gray.png);
    display: inline-block;
}

.keys {
    height: 120px;
    width: 155px;
    margin-left: 23px;
    margin-top: 20px;
    background: url(../../../images/attribute/gray.png);
}

.message {
    height: 300px;
    width: 502px;
    margin-left: 248px;
    margin-top: 150px;
    position: absolute;
    z-index: 2; /*隐藏元素总是堆叠在main上*/
    display: none; /*默认隐藏*/
    background: url(../../../images/message.png);
}

.load {
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    z-index: 2; /*隐藏元素总是堆叠在main上*/
    display: none; /*默认隐藏*/
    background: url(../../../images/load.png);
}

.handbook {
    height: 506px;
    width: 506px;
    margin-left: 246px;
    margin-top: 46px;
    position: absolute;
    z-index: 2; /*隐藏元素总是堆叠在main上*/
    display: none; /*默认隐藏*/
    background: url(../../../images/attribute/gray.png);
}

.store {
    height: 350px;
    width: 506px;
    margin-left: 246px;
    margin-top: 120px;
    position: absolute;
    z-index: 2; /*隐藏元素总是堆叠在main上*/
    display: none; /*默认隐藏*/
    background: url(../../../images/attribute/gray.png);
    text-align: center;
}

.store_title {
    height: 80px;
    width: 350px;
    margin-left: 75px;
    margin-top: 20px;
    font-size: 28px;
    color: #ffffff;
}

.store_content {
    height: 35px;
    width: 230px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    margin-left: 125px;
    margin-top: 10px;
    background: lawngreen;
    color: #000000;
}

.tips {
    height: 50px;
    width: 980px;
    position: absolute;
    margin-top: 600px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}